// Adicionar o reset.css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-style: unset;
    font-family: 'Lato', sans-serif;
} 
body {
    background-color: #F7FAFC;
    overflow: hidden;
}